@charset "UTF-8";
.PCOnly { display: block !important; }

#slide.answerpage.PCOnly { display: block !important; }

.MobileOnly { display: none !important; }

.img_stretch { width: 100%; }

.h_20 { height: 20px !important; }

.h_40 { height: 40px !important; }

.align_r { text-align: right !important; }

.align_l { text-align: left !important; }

.align_j { text-align: justify !important; }

.bg_white { background-color: #FFF !important; }

.bg_main { background-color: #7b872e !important; }

.bg_gray { background-color: #CCC !important; }

.title_w { color: #fff !important; }

.t_highlight { color: #f96835 !important; }

.t_didi_t { color: #7b872e !important; }

.t_gray { color: #9e9e9d !important; }

.btn-gcolor { color: #fff; background: #7b872e !important; }

.t_danger { color: #F86835 !important; }

.t_blue { color: #58B1DD !important; }

a.prbtn { color: #58B1DD !important; }

a.prbtn:hover { color: #86d1ef !important; }

.btn_circle { border-radius: 50%; width: 65px; height: 65px; padding: 11px 10px 10px 11px; line-height: 20px; }

.header-misc a { color: #333; -webkit-transition: color .3s ease-in-out; transition: color .3s ease-in-out; opacity: 1; }

.header-misc a:hover { color: #7b872e; opacity: .75; }

.header-misc a img { width: 35px; height: 35px; }

.header-misc-icon { margin: 0px 8px 0px 8px; }

.header-misc-icon #top-cart a { height: 18px; }

.heading_box { margin: 0px auto; }

.heading_box.headw_md { width: 50%; }

.heading_box h3 { font-size: 20px; border: 1px solid #595555; padding: 5px; margin-bottom: 15px; }

.heading_box h3 span { color: #7b872e; }

.heading_box p { color: #7b872e; margin-bottom: 10px; font-size: 14px; }

.fancy-title h2 { font-size: 26px; letter-spacing: 1px; margin-right: 10px; }

.fancy-title span { font-size: 15px; letter-spacing: 1px; }

.fancy-title span small { font-size: 13px; }

.fancy-title h4 { font-size: 18px; letter-spacing: 1px; margin-right: 10px; font-weight: normal; }

.morebtn { margin: 10px 0px; }

.morebtn a { color: #CCC; }

.morebtn a:hover { color: #7b872e; }

.pickingbox .feature-box .fbox-media { position: relative; }

.pickingbox .feature-box .fbox-media a { opacity: 1; }

.pickingbox .feature-box .fbox-media a:hover { opacity: .75; }

.pickingbox .feature-box .fbox-media .subtag_t { position: absolute; right: 0px; top: 0px; background: #d8d830; padding: 8px 12px; color: #FFF; }

.pickingbox .feature-box .fbox-media .subtag_n { position: absolute; right: 0px; top: 0px; background: #76842f; padding: 8px 12px; color: #FFF; }

.pickingbox .feature-box .fbox-media .pickheart { position: absolute; right: 5px; bottom: 5px; z-index: 1; }

.pickingbox .feature-box .fbox-media .pickheart img { width: 35px; border: none; padding: 0px; }

.pickingbox .feature-box .fbox-media .pickbgpadding { padding: 15px 35px 45px 35px; }

.pickingbox .feature-box .fbox-media p { margin: 0px; padding: 10px 35px; color: #FFF; font-size: 14px; }

.pickingbox .feature-box .fbox-media img { margin: 0px auto; }

.pickingbox .feature-box .fbox-media.Darkbg { background: #76842f; }

.pickingbox .feature-box .fbox-media.DarkOlivebg { background: #d8d830; }

.pickingbox .feature-box .fbox-content h3 a { color: #595555; }

.pickingbox .feature-box .fbox-content h3 a:hover { color: #7b872e; }

.pickingbox .product-desc .product-price { font-size: 20px; }

.pickingbox .product-desc .product-price del { font-size: 90%; color: #c5c5c5; }

.pickingbox .product-desc .product-price ins { text-decoration: none; color: #3d3d3b; font-size: 24px; }

.badge.discount_icon { font-size: 30px; background-color: #f96835; border-radius: 50%; padding: 40px 22px; top: 12px; left: 12px; opacity: .9; }

.ocpropad { padding: 0px 40px; }

.owlbox {
  counter-reset: step;
}
.owlbox .oc-item {
  counter-increment: step;
  content: counter(step) '';
}
.owlbox .oc-item .probox .product_logo { margin: 10px auto 15px auto; padding-bottom: 10px; border-bottom: 1px solid #d8d830; position: relative; color: #d8d830; }

.owlbox .oc-item .probox .product_logo a { opacity: 1; }

.owlbox .oc-item .probox .product_logo a:hover { opacity: .75; }

.owlbox .oc-item .probox .product_logo a img { width: 200px; margin: 0px auto; }

.owlbox .oc-item .probox .product_logo:before { 
  width: 28px; 
  height: 28px; 
  list-style: decimal; 
  color: #fff; 
  line-height: 22px; 
  border: 2px solid #d8d830; 
  display: block; 
  text-align: center; 
  border-radius: 100%; 
  background-color: #d8d830; 
  font-size: 1.175em; 
  position: absolute; 
  bottom: -12px; 
  left: 0px; 
  content: counter(step); 
  counter-increment: step1; 
  z-index: 9; }

.owlbox .oc-item .probox .product-price ins { font-size: 24px; }

.shop .probox .product_logo { margin: 10px auto 15px auto; padding-bottom: 10px; border-bottom: 1px solid #d8d830; position: relative; color: #d8d830; }

.shop .probox .product_logo a img { width: 200px; margin: 0px auto; }

.shop .probox .product_logo:before { width: 28px; height: 28px; list-style: decimal; color: #fff; line-height: 25px; border: 2px solid #d8d830; display: block; text-align: center; border-radius: 100%; background-color: #d8d830; font-size: 1.175em; position: absolute; bottom: -12px; left: 0px; content: counter(step); counter-increment: step 1; }

.btn.topicon_heart_p { width: 40px; padding: 7px 8px; background: #ececec; }

.btn.topicon_cart_p { display: none; width: 40px; padding: 7px 8px; background: #c5c5c5; }

.cartbtn .btn.topicon_heart_p { width: 40px; padding: 7px 8px; background: #76842f; }

.cartbtn .btn.topicon_heart_p:hover { background: #d8d830; }

.desirebtn.topicon_heart_p { width: 40px; padding: 7px 8px; background: #c5c5c5; }

.product.probox .product-desc .product-title h3 { font-size: 15px; }

.addbox { margin: 20px auto; }

.addbox .addimg { margin: 30px auto; }

.addbox .addiconbox img { width: 135px; margin-bottom: 15px; }

.addbox .addiconbox h5 { font-size: 17px; color: #7b872e; margin-bottom: 0px; }

.brandbox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-line-pack: distribute; align-content: space-around; border: 1px solid #7b872e; }

.brandbox .brand_item { width: 25%; border: 1px solid #7b872e; position: relative; }

.brandbox .brand_item.salebox:before { content: ''; width: 75px; height: 75px; border-radius: 0 0 75px 0px; background: #7b872e; z-index: 9; position: absolute; top: 0px; left: 0px; }

.brandbox .brand_item.salebox:after { content: '85折'; position: absolute; top: 18px; left: 10px; z-index: 99; font-size: 20px; color: #FFF; }

.brandbox .brand_item.salebox.sale75:after { content: '75折'; position: absolute; top: 18px; left: 10px; z-index: 99; font-size: 20px; color: #FFF; }

.brandbox .brand_item a { opacity: .6; -webkit-transition: all .5s ease; transition: all .5s ease; }

.brandbox .brand_item a:hover { opacity: 1; }

.feedbakbox { color: #FFF !important; }

.qabox ul { padding: 0px 20px; color: #727171; line-height: 30px; }

.qabox ul li a { color: #727171; }

.qabox ul li a:hover { color: #7b872e; }

.footlogo img { width: 250px; margin-bottom: 15px; }

.footer-widgets-wrap .widget .subscribe-widget ul { font-size: 15px; margin-bottom: 15px; }

.footer-widgets-wrap .widget .socialiconlist { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-line-pack: distribute; align-content: space-around; opacity: 1; }

.footer-widgets-wrap .widget .socialiconlist a:hover { opacity: .75; }

.post-grid.portfolio .entry-title h2 { height: auto; margin-bottom: 15px; }

.post-grid.portfolio .entry-title h2 a { color: #3d3d3b; }

.post-grid.portfolio .entry-title h2 a:hover { color: #7b872e; }

.post-grid.portfolio .entry-meta.feesmallicon a:not(:hover) { color: #9e9e9d; }

.post-grid.portfolio .entry-meta.feesmallicon li { color: #9e9e9d; }

.post-grid.portfolio p { margin: 15px 0px; }

.pagination { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-left: 0; list-style: none; border-radius: 0.25rem; margin: 30px auto !important; }

.widget_links.product_lbox { border: 1px solid #eae6ea; padding-bottom: 10px; }

.widget_links.product_lbox img { width: 40px; vertical-align: middle; }

.widget_links.product_lbox li { padding: 5px 10px 10px 10px; }

.widget_links.product_lbox li a { padding: 0 5px 0 0px; margin-right: 5px; }

.widget_links.product_lbox li a.active { color: #7b872e; }

.widget_links.product_lbox h4 { border-bottom: 1px solid #eae6ea; color: #FFF; background: #76842f; text-align: center; margin-bottom: 15px; padding: 5px; border-radius: 5px 5px 0px 0px; }

.widget_links.product_lbox:not(.widget-li-noicon) li::before { content: none; }

.widget.check_box { border: 1px solid #eae6ea; padding-bottom: 10px; }

.widget.check_box h4 { margin-bottom: 5px; border-bottom: 1px solid #eae6ea; color: #595555; background: #CCC; text-align: center; margin-bottom: 15px; padding: 5px; }

.widget.check_box div.cb_pad { padding: 8px 15px; }

.widget.check_box div.cb_pad label { margin-bottom: 0px; font-size: 14px; font-weight: normal; }

.widget.check_box.checkdesire { border: none; }

.widget.check_box.checkdesire h4 { border: none; background: none; text-align: justify; }

.widget.cadesire h4 { color: #595555; background: none; text-align: justify; margin-bottom: 15px; padding: 5px; margin-bottom: 5px; }

.widget.cadesire ul { list-style-type: none; }

.widget.cadesire ul li { padding: 5px 5px; }

.widget.cadesire ul li a { font-size: 14px; color: #999998; }

.widget.cadesire ul li a:hover { color: #7b872e; }

.product-desc.infodesc h3 { font-size: 1.25rem; }

.product-desc.infodesc ul { list-style: none; text-align: justify; line-height: 28px; }

.product-desc.infodesc p { text-align: justify; }

.product-desc.infodesc .product-price .dutyfree { font-size: 14px; color: #595555; padding-left: 10px; }

.pheart { width: 40px; height: 40px; background: #76842f; }

.pheart img { width: 28px; }

.pheart:hover { background: #d8d830; }

.conttext { line-height: 30px; padding: 30px 10px 20px 10px; border-top: 1px solid #76842f; }

.conttext h3 { margin-bottom: 15px; }

.conttext p { margin-bottom: 10px; }

.conttext ol { padding-left: 30px; list-style-position: outside; list-style-type: upper-roman; }

.conttext ul { padding-left: 20px; }

.icon-star3:before, .icon-star-half-full:before { color: #ffba00; }

.icon-star-empty { color: #999899; }

.borline { border: 1px solid #76842f; padding: 20px 40px; }

.postcontent .single-post .entry-meta li { font-size: 90%; margin: 0 15px 10px 0; color: #9e9e9d; }

.postcontent .single-post .entry-meta a:not(:hover) { color: #9e9e9d; }

.postcontent .single-post .entry-content p { margin-bottom: 10px; }

.right_cont .entry { margin-bottom: 15px; }

.right_cont .entry-title h4 a { color: #9e9e9d; }

.right_cont .entry-title h4 a:hover { color: #595555; }

.respond h3 { margin-bottom: 15px; font-size: 16px; }

.respond label { font-size: 15px; color: #9e9e9d; }

.cartalert.alert { color: #fff; background-color: #76842f; border-color: #76842f; }

.cartalert.alert i { top: 0px; font-size: 18px; }

.cartalert.alert strong { color: #f9f321; font-size: 20px; }

.cart-product-checkall .control { margin-bottom: 0px; }

.cart-product-checkall .control__indicator { top: -10px; }

.cart-product-checkall .control__indicator.thtopcheck { top: -22px; }

.checkoutbtn .button { width: 100%; border-radius: 0px; }

.choutbox { border: 1px solid #eae6ea; }

.choutbox h4 { background: #eae6ea; margin-bottom: 0px; padding: 10px 15px; }

.choutbox .table { margin-top: 1rem; }

.choutbox .cart td { border: none; }

.choutbox .cart .cart_item:last-child { border-top: 2px solid #232020; }

.choutbox .cart.cart-pay .cart_item:last-child { border-top: none; }

.choutbox .cart.textareabox .cart_item:last-child { border-top: none; }

.choutbox .cart-pay .cart-product-name { display: inline-block; }

.choutbox .cart-pay .control { display: inline-block; padding-left: 30px; margin-bottom: 15px; font-size: 15px; }

.choutbox .cart-pay img { width: 35px; margin-right: 5px; }

.memconbox .cart_item .cart-product-name { display: inline-block; margin-right: 20px; }

.checkdatabox .shipmentdays { display: inline-block; margin: 5px 0px; padding: 2px 10px; font-size: 0.875rem; line-height: 24px; background-color: #76842f; color: #FFF; letter-spacing: 1px; border: none; }

.checkdatabox .cart-product-price small { color: #f96835; text-decoration: line-through; margin-left: 5px; }

.top-cart-content .top-cart-ul ul { list-style: none; margin-bottom: 10px; }

.top-cart-content .top-cart-ul ul li { padding: 10px 10px 5px 10px; }

.top-cart-content .top-cart-action { display: block; }

.top-cart-content .top-cart-action a { width: 100%; font-size: 16px; padding: 8px; font-weight: normal; }

.top-cart-content .top-cart-action a:last-child { color: #FFF; }

.chform { margin: 1rem 0px; padding: 0px 15px; }

.chform p { padding: 12px 0px; }

.chform .control { font-size: 15px; }

.getnews .control { font-size: 15px; }

.checkokbox { width: 80%; text-align: center; margin: 40px auto; }

.checkokbox h3 img { width: 30px; vertical-align: sub; }

.checkokbox .checkokbtn a { width: 35%; }

.igmaster { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.igmaster .igmaster_item img { border-radius: 50%; width: 100px; }

.igmaster .igmaster_item:nth-child(2) { padding: 0px 20px; }

.igmaster .igmaster_item .button { border-radius: 25px; }

.dividertitle { position: relative; display: inline-block; margin: 3rem auto !important; color: #E5E5E5; width: 100%; margin: 0px auto; text-align: center; }

.dividertitle .dividebg { background: #FFF; width: 25%; margin: 0px auto; }

.dividertitle h3 { margin-bottom: 5px !important; }

.dividertitle p { margin-bottom: 0px; }

.dividertitle::before { content: ''; width: 37%; height: 1px; background-color: #76842f; position: absolute; top: 40px; left: 0px; }

.dividertitle::after { content: ''; width: 37%; height: 1px; background-color: #76842f; position: absolute; top: 40px; right: 0px; }

.pickingbox .media-box .fbox-media { margin: 0px 0px 0px 0px; }

.masterbox { margin: 2rem auto; }

.masterbox a { opacity: 1; }

.masterbox a img { margin-bottom: 10px; }

.masterbox a :hover { opacity: .75; }

.masterbox h3 { font-size: 1rem; text-align: justify; margin-bottom: 15px; }

.masterbox h3 a { color: #595555; }

.masterbox h3 a:hover { color: #76842f; }

.masblogbox { margin-bottom: 0px; }

.masblogbox .entry-title { margin: 20px 0px; }

.masblogbox .entry-title h3 a { color: #595555; }

.masblogbox .entry-title h3 a:hover { color: #76842f; }

.masblogbox .entry-meta { margin-top: 10px; }

.masblogbox .entry-meta a:not(:hover) { color: #595555; }

.masblogbox .entry-meta li { color: #595555; }

.masterad { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: distribute; align-content: space-around; width: 80%; margin: 0px auto 60px auto; }

.masterad .masterad_item { padding: 20px; }

.masterad .masterad_item img { border: 2px solid #7b872e; opacity: 1; border-radius: 50%; -webkit-transition: all 300ms linear; transition: all 300ms linear; }

.masterad .masterad_item img:hover { opacity: .75; }

.desiretitle h3 { position: relative; margin-bottom: 0px; }

.desiretitle h3::before { content: ''; width: 100px; height: 5px; background: #7b872e; position: absolute; bottom: -10px; left: 0px; }

.pickjpbox .oc-item img { border: 2px solid; }

.pickjpbox .oc-item h3 { font-size: 15px; margin: 15px 0px 5px 0px; padding: 0px 5px; }

.pickjpbox .oc-item h3 a { color: #595555; }

.pickjpbox .oc-item h3 a:hover { color: #7b872e; }

.pickjpbox .oc-item .product-price { text-align: center; }

.pickjpbox .oc-item .product-price ins { font-size: 22px; }

.pickjpbox .oc-item.salehcircle { position: relative; }

.pickjpbox .oc-item.salehcircle::before { content: ''; width: 75px; height: 75px; border-radius: 0 0 75px 0px; background: #7b872e; z-index: 9; position: absolute; top: 0px; left: 0px; }

.pickjpbox .oc-item.salehcircle::after { content: '85折'; position: absolute; top: 18px; left: 10px; z-index: 99; font-size: 20px; color: #FFF; }

.pickjpbox.owl-carousel .owl-nav [class*=owl-] { top: 35%; }

.abouttab_box .tab-container { padding: 40px 0 0; }

.abouttab_box .tab-nav { border-top: 1px solid #DBDBDB; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.abouttab_box .tab-nav li a { color: #3E3A39; }

.abouttab_box .tab-content p { line-height: 30px; }

.abouttab_box .tab-content p a.prbtn { color: #58B1DD; }

.abouttab_box .tab-content p a.prbtn :hover { color: #222; }

.abouttab_box .tab-content p img.shoppicon { width: 25px; vertical-align: sub; }

.abouttab_box .tab-content ul { padding-left: 25px; line-height: 30px; }

.abouttab_box .tab-content ol { padding-left: 25px; line-height: 30px; }

.orderinfo_box .tab-container { padding: 40px 0 0; }

.orderinfo_box .tab-nav { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.orderinfo_box .tab-nav li a { color: #3E3A39; }

.orderinfo_box .tab-content p { line-height: 30px; }

.orderinfo_box .tab-content p a.prbtn { color: #58B1DD; }

.orderinfo_box .tab-content p a.prbtn :hover { color: #222; }

.orderinfo_box .tab-content p img.shoppicon { width: 25px; vertical-align: sub; }

.orderinfo_box .tab-content ul { padding-left: 25px; line-height: 30px; }

.orderinfo_box .tab-content ol { padding-left: 25px; line-height: 30px; }

.qabox .toggle-bg.toggle-active .toggle-header { opacity: 1; }

.qabox .toggle-bg .toggle-header { padding: 6px; border: 1px solid #7b872e; background: none; color: #7b872e; font-weight: normal; }

.qabox .toggle-content p { line-height: 30px; }

.qabox .toggle-content p img.shoppicon { width: 25px; vertical-align: sub; }

.qabox .toggle-content ul { padding-left: 25px; line-height: 30px; }

.qabox .toggle-content ol { padding-left: 25px; line-height: 30px; }

.noticeconbox .toggle { margin-bottom: 0px; }

.noticeconbox .toggle .toggle-header { border-bottom: 2px solid #DADADA; }

.noticeconbox .toggle .toggle-header .toggle-img { display: inline-block !important; padding-right: 15px; }

.noticeconbox .toggle .toggle-header .toggle-img img { width: 80px; height: 80px; }

.noticeconbox .toggle .toggle-header .toggle-img small { color: #B6B6B6; }

.noticeconbox .toggle .toggle-header .toggle-title .togglesmall { display: inline-block; margin-right: 15px; border: 1px solid #7b872e; color: #7b872e; padding: 0px 5px; vertical-align: middle; }

.noticeconbox .toggle .toggle-header .toggle-title h3 { display: inline-block; margin-bottom: 0px; vertical-align: middle; font-size: 18px; }

.noticeconbox .toggle .toggle-header .toggle-title p { color: #595555; margin-top: 10px; margin-bottom: 0px; }

.noticeconbox .toggle .toggle-header .toggle_date { float: right; margin-top: 5px; }

.refundbox .tab-nav li a { color: #7C7C7B; background: #ECECEC; }

.refundbox .tab-nav li.ui-tabs-active a { background: #FFF; }

.reimbursebox { border: 1px solid #eae6ea; }

.reimbursebox h4 { background: #7b872e; color: #fff; margin-bottom: 0px; padding: 10px 15px; font-weight: normal; font-size: 16px; text-align: center; letter-spacing: 1px; }

.reimbursebox h4 b { color: #EFE926; font-size: 20px; }

.reimbursebox label { font-size: 15px; }

.membtnbox { width: 80%; margin: 30px auto 15px auto; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.addvaluebox { width: 90%; margin: 15px auto 15px auto; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.addvaluebox .valueline { width: 100%; }

.addvaluebox b { font-size: 24px; }

.addvaluebox .reimbursebox { border: 2px solid #7b872e; }

.addvaluebox .reimbursebox .addvacon { width: 90%; margin: 0px auto; }

.addvaluebox .reimbursebox .addvacon img { margin: 10px auto; }

.addvaluebox .reimbursebox .addvacon p { line-height: 30px; margin-bottom: 19px; }

.addvaluebox .reimbursebox .addvacon .form-group { margin-top: 10px; }

.mempaddbox { width: 90%; margin: 15px auto 30px auto; padding: 0px 10px; }

.mempaddbox p { margin: 15px 0px; }

.mempaddbox img.level { width: 20px; vertical-align: sub; margin-right: 10px; }

.mbottombox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 15px auto 15px auto; width: 75%; }

.mbottombox .mbottom_item { width: 25%; }

.mbottombox .mbottom_item img { width: 70px; }

.valuebtn { padding: 10px 0px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.valuebtn .valuebtn_item:first-child { width: 80%; }

.valuebtn .valuebtn_item:last-child { width: 20%; }

.reimcon { margin: 20px auto; }

.reimcon p { text-align: justify; }

.postcontent table thead { background: #7b872e; color: #FFF; }

.postcontent table tbody { font-size: 15px; color: #7c7c7b; }

.postcontent table th { vertical-align: middle; font-size: 14px; }

.postcontent table td { vertical-align: middle; line-height: 30px; }

.postcontent table td div { color: #7b872e; font-size: 14px; }

.postcontent table td div i { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.postcontent table.avborder { border: 1px solid #dee2e6; }

.memadpadd { padding-left: 15px; padding-right: 15px; }

.couponbox { border: 1px solid #eae6ea; padding: 0px 15px; }

.couponbox .coupon_item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 20px auto; border: 1px solid #eae6ea; position: relative; }

.couponbox .coupon_item .bgcover::before { content: ''; background: #9e9e9d; opacity: .7; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }

.couponbox .coupon_item .bgcover::after { content: '已兌換'; position: absolute; top: 45px; left: 45%; color: #FFF; letter-spacing: 2px; font-size: 30px; -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }

.couponbox .coupon_item .coupon_l { width: 20%; background: #7b872e; color: #FFF; padding: 30px 5px; }

.couponbox .coupon_item .coupon_l p { text-align: center; margin-bottom: 0px; }

.couponbox .coupon_item .coupon_l p.cprice { font-size: 30px; }

.couponbox .coupon_item .coupon_c { width: 60%; padding: 0px 15px; }

.couponbox .coupon_item .coupon_c p { margin-bottom: 0px; }

.couponbox .coupon_item .coupon_r { width: 20%; text-align: center; }

.maddressbox .maddress_item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 20px auto; border: 1px solid #eae6ea; position: relative; padding: 15px 0px; }

.maddressbox .maddress_item.active { border: 2px solid #7b872e; }

.maddressbox .maddress_item .maddress_l { width: 80%; padding: 0px 15px; }

.maddressbox .maddress_item .maddress_l p { margin-bottom: 0px; }

.maddressbox .maddress_item .maddress_r { width: 20%; text-align: center; }

.maddressbox .maddress_item .maddress_r span.preset_t:first-child { margin-right: 10px; }

.maddressbox .maddress_item .maddress_r span.preset_t a { color: #666; font-size: 14px; }

.maddressbox .maddress_item .maddress_r span.preset_t a:hover { color: #7b872e; }

.membonusbox { border: 1px solid #eae6ea; padding: 1rem 1rem; }

.membonusbox .bouns_table { border-left: 1px solid #DDD; border-right: 1px solid #DDD; border-bottom: 1px solid #DDD; }

.membonusbox .bouns_table .tabs { margin: 0 0 15px 0; }

.membonusbox .bouns_table .tab-nav { padding: 0px 0px; }

.membonusbox .bouns_table .tab-container { padding: 0px 0px; }

.membonusbox .bouns_table .tab-container .table { margin-bottom: 0px; }

.membonusbox .bouns_table .tab-container th { border: none; vertical-align: middle; font-size: 14px; }

.membonusbox .bouns_table .tab-container td { border: none; vertical-align: middle; line-height: 18px; color: #7c7c7b; font-size: 15px; width: 20%; }

.pointbox { margin: 20px 0px; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.pointbox .point_item { width: 25%; padding: 20px 10px; border: 1px solid #ddd; }

.pointbox .point_item.bgpadd { padding: 38px 10px; }

.pointbox .point_item b { font-size: 24px; }

.checkokbtn { width: 100%; font-size: 15px; }

img.icon_star { width: 20px; vertical-align: sub; }

.codebox { width: 30%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.codebox .codeleft { width: 75%; margin-right: 10px; }

.codebox .coderight { width: 20%; }

.modalbox { width: 500px; }

.chart-samples h4 { margin-bottom: 15px; font-weight: normal; }

.chart-samples ul { padding-left: 20px; }

/*iPad in landscape 橫式*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { .PCOnly { display: none !important; }
  .MobileOnly { display: block !important; } }

@media only screen and (max-width: 767px) { .PCOnly { display: none !important; }
  .MobileOnly { display: block !important; } }

@media only screen and (max-width: 480px) { .heading_box.headw_md { width: 85%; }
  .addbox .addiconbox { width: 33.3% !important; }
  .addbox .addiconbox img { width: 90px; margin-bottom: 15px; }
  .brandbox .brand_item { width: 50%; }
  .brandbox .brand_item.salebox:before { content: ''; width: 60px; height: 60px; border-radius: 0 0 60px 0px; background: #7b872e; z-index: 9; position: absolute; top: 0px; left: 0px; }
  .brandbox .brand_item.salebox:after { content: '85折'; top: 11px; left: 7px; font-size: 18px; }
  .brandbox .brand_item.salebox.sale75:after { content: '75折'; top: 11px; left: 7px; font-size: 18px; }
  .footcenter { text-align: center; }
  .header-row { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  #logo { margin: auto; }
  .header-size-lg #header-wrap #logo img { height: 75px; }
  #primary-menu-trigger, #page-menu-trigger { position: absolute; top: 6px; left: -10px; }
  #page-menu-trigger.leftmenu { opacity: 1; pointer-events: auto; top: 0; margin-top: 0; left: auto; right: 15px; width: 40px; height: 44px; line-height: 44px; color: #FFF; }
  #page-menu-trigger.leftmenu i { font-size: 22px; }
  .pageleftmenubox #page-menu-wrap { background-color: #76842f; }
  .pageleftmenubox .page-menu-nav { background-color: #76842f; opacity: .9; }
  .pageleftmenubox .page-menu-row { padding: 8px 0px; }
  .pageleftmenubox .page-menu-row .page-menu-title { font-size: 17px; }
  .header-misc .mlogo .retina-logo img { width: 160px; height: 61px; }
  .header-misc a img { width: 30px; height: 30px; }
  #top-heart, #top-account { margin: 0px 5px !important; }
  .header-misc a#top-cart-trigger { width: 30px !important; height: 30px !important; }
  .gobackbtn { margin-top: 20px; }
  .dividertitle { margin: 3rem auto 1rem auto !important; }
  .dividertitle::before { width: 25%; }
  .dividertitle::after { width: 25%; }
  .dividertitle .dividebg { width: 45%; }
  .masterbox .masterblog_item { padding-bottom: 40px; }
  .grid-filter { margin: 0px auto 20px auto; }
  .grid-filter li { width: 33%; margin-bottom: 1px; }
  .grid-filter li a { border: 1px solid #76842f; border-radius: 0; padding: 5px 10px; }
  .heading_box h3 { font-size: 18px; }
  .desiretitle h3 { position: relative; margin-bottom: 25px; }
  .shop .product.probox { width: 50%; }
  .page-menu-item img { width: 25px; vertical-align: sub; margin-right: 5px; }
  .product-price ins { font-size: 22px; }
  .product-rating i { width: 15px; }
  .infodesc form { -webkit-box-pack: center !important; -ms-flex-pack: center !important; justify-content: center !important; }
  .conttext { padding: 30px 15px 20px 15px; text-align: justify; }
  .ocpropad { padding: 0px 0px; }
  .noticeconbox .toggle .toggle-header .toggle-title h3 { font-size: 17px; }
  .noticeconbox .toggle .toggle-header .toggle_date { margin-top: 5px; }
  .process-steps li { width: 33%; }
  .memlevelbox.process-steps li { width: 50%; }
  .process-steps li::before, .process-steps li::after { content: ''; position: absolute; top: 30px; left: 0; margin-left: -26px; width: 50%; border-top: 1px dashed #DDD; }
  .process-steps li::after { left: auto; right: 0; margin: 0 -26px 0 0; }
  .process-steps li:first-child::before, .process-steps li:last-child::after { display: none; }
  .i-rounded, .i-circled, .i-bordered { width: 35px !important; height: 35px !important; line-height: 32px !important; font-size: 18px; }
  .process-steps li h5 { font-size: 15px; margin-top: 10px; }
  .tablescoll { display: block; overflow-x: auto; white-space: nowrap; }
  .quantity { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .tablescoll::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 10px; background-color: #F5F5F5; }
  .tablescoll::-webkit-scrollbar { width: 12px; height: 5px; background-color: #F5F5F5; }
  .tablescoll::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); background-color: #d8d830; }
  .codebox { width: 85%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .codebox .codeleft { width: 75%; margin-right: 10px; }
  .codebox .coderight { width: 20%; margin-top: 0px; }
  .checkokbox { width: 95%; }
  .checkokbox .checkokbtn a { width: 50%; }
  .addvaluebox div.addvaitem_l { width: 25% !important; }
  .addvaluebox div.addvaitem_c { width: 44% !important; }
  .addvaluebox div.addvaitem_r { width: 16% !important; }
  .addvaluebox .reimbursebox { margin-bottom: 15px; }
  .mbottombox { width: 95%; }
  .valuebtn .valuebtn_item:last-child { width: 30%; }
  .couponbox .coupon_item { display: block; }
  .couponbox .coupon_item .coupon_l { width: 100%; padding: 5px 5px; }
  .couponbox .coupon_item .coupon_c { width: 100%; padding: 10px 15px; }
  .couponbox .coupon_item .coupon_r { width: 100%; padding-bottom: 10px; }
  .couponbox .coupon_item .bgcover::after { top: 110px; left: 35%; }
  .pointbox { display: inline-block; width: 100%; margin-top: 0px; }
  .pointbox .point_item { width: 50%; float: left; padding: 10px 10px; }
  .pointbox .point_item.bgpadd { padding: 28px 10px; }
  .membtnbox .xs-mb-5 { margin-bottom: 5px; }
  .membtnbox a { width: 60%; font-size: 15px; }
  .modalbox { width: 300px; }
  .form-group { margin-bottom: 10px; }
  .sm-form-control { padding: 5px 14px; }
  .maddressbox .maddress_item .maddress_l { width: 60%; }
  .maddressbox .maddress_item .maddress_l p { font-size: 15px; }
  .maddressbox .maddress_item .maddress_r { width: 40%; } }
