.webuybox {
  width: 100%;
}
.webuybox .title {
  display: block;
  margin-bottom: 10px;
}
.inputBox {
  display: flex;
}

input.webuy  {
  width: calc(100% - 10px);
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.webuybtn {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 20px auto;
}
.webuybtn a {
  width: calc(100%/2 - 10px);
}

.toku_btn {
  display: flex;
  margin: auto;
  width: 70%;
}
.webbtn {
  width: 100%;
  margin: 0px 10px;
}

.newhand {
  margin: 10px 20px;
  color: #2D84EA;
}


@media only screen and (min-width: 992px) and (max-width: 1920px) {}
@media only screen and (max-width : 991px) {
  .main-wrap {
    margin-bottom: 40px;
  }
  .webuybox {
    display: block;
    width: 90%;
    margin: 10px auto;
  }
  input.webuy  {
    display: block;
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
  }
  .webuybtn {
    width: 90%;
  }
  
  .toku_btn {
    display: block;
    margin: auto;
    width: 100%;
  }
  .webbtn {
    width: 100%;
    margin: 10px 0px;
  }
  .newhand {
    display: block;
    margin: 20px;
    color: #2D84EA;
  }
  .inputBox {
    display: block;
  }
}
/*iPad in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}
/*iPad in landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}
/*mobile device*/
@media only screen and (max-width : 480px) {
  .pcOnly { 
    display: none!important; 
  }
}
/*mobile small device*/
@media only screen and (max-width : 320px) {
  .pcOnly { 
    display: none!important; 
  }
}